nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    /* position: sticky;
    bottom: 0; */
    width: 100%;
    height: fit-content;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.copy-right-text{
    font-size: 0.8rem;
}

h1{
    font-family: 'PT Serif', serif;
    font-size: 48px;
    font-weight: 500;
    margin: 12px 0;
}
hr{
    border: none;
    border-top: 2px solid #EEEDE9;
    width: 100%;
}


/* bootstrap icon styling */
.bi{
    color: #949494;
}
.bi:hover{
    color: #A4BC96;
}
/* page padding... used in paddingsection component  */
.page-padding{
    padding: 2% 15%;
}