.single-blog-wrapper{
    display: flex;
    width: 100%;
    margin: 2% 1% 1%;
}
.single-blog-wrapper img.featured-img{
    width: 100%;
}
.single-blog-wrapper .single-blog-article{
    width: 62%;
    margin-right: 3%;
    
}
.single-blog-wrapper .single-blog-right-side{
    width: 25%;
    margin-left: 5%;
}
.article-text{
    font-family: 'Overpass';
    color: #434343;
    font-size: 14px;
    margin-top: 4px;
    line-height: 1.5;
}
.article-text p.first::first-letter{
    initial-letter: 2;
    
}

.single-image-container{
    width: 100%;
    margin: 20% 0 ;
}

.single-image-container img{
    width: 100%;
}

.categories-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.single-category-wrapper{
    width: 40%;
    margin:3%;
}
.single-category-wrapper img{
    width: 100%;
}

.single-category-wrapper p.single-category-label{
    margin: 4px auto;
    text-align: center;
    font-family: 'Overpass';
    font-size: 12px;
}